.page-container {
  height: 100vh !important;
  width: 100% !important;
}

.main-page {
  width: 100vw !important;
  height: 100vh !important;
}
.user-mini {
  position: relative;
  height: 24px;
  width: auto;
}